@import '../../styles/variables.scss';

.header {
  position: absolute;
  left: $layout-margin;
  top: 0;
  right: $layout-margin;
  height: $header-height;
  overflow: hidden;

  display: flex;
  align-items: center;

  //background-color: black;
  //color: white;
  font-size: 50px;
  //text-align: center;
}